PORT=5000
MONGODB_URL=mongodb://user:password@host:27017/db
SECRET=secret
SESSION_SECRET=secret
ACCESS_TOKEN=token
REFRESH_TOKEN=token
AUDIENCE=http://AUDIENCE
ISSUER=ISSUER
ACCESS_TOKEN_EXPIRATION=duration_in_number
REFRESH_TOKEN_EXPIRATION=duration_in_number
REFRESH_TOKEN_COOKIE_EXPIRATION=duration_in_number
